// PC版の設定
@media (min-width: 600px) {
  // containerの共通設定
  .container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  // header
  header .container {
    display: flex;
    justify-content: space-between;
  }

  // 記事の部分
  article {
    padding-left: 60px;
    padding-right: 60px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  // index.htmlのヒーローイメージ
  .hero {
    h1 {
      font-size: 72px;
    }
  }

  // TOPICS
  .toppost {
    article {
      width: 23%;
      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
      }
    }
  }

  // contact.htmlのお問い合わせフォーム
  input {
    &[type="submit"] {
      width: 250px;
    }
  }
}

// PC版(大)の設定
@media (min-width: 1025px) {
  // containerの共通設定
  .container {
    max-width: 1100px;
  }

  // main
  main .container {
    display: flex;
    justify-content: space-between;
  }

  // 記事の部分
  article {
    width: 68%;
    box-sizing: border-box;
  }

  // PROFILEおよびTOPICS
  .sub {
    width: 28%;
  }

  // PROFILE
  .profile {
    margin-top: 0;
  }
}